

/* Общие */

.main {
  background-image: url(../img/Kat/icon.png);
  background-color: #f5f5f5;
  background-size: 50%;
  padding-top: 40px;
}

.section_wrap {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 40px;
}

/* Настройки */
/* Левый блок настроек*/

.profile_left_setting {
  background: #ef6705;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  max-width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  padding: 5px 0;
  margin-top: 10px;
}

.setting_file {
    width: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.setting_file::file-selector-button {
    cursor: pointer;
}

.setting_photo {
  position: absolute;
}

.profile_left_exit {
  background: #c7c7c7;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 7px 0;
  margin: 10px 0;
  text-align: center;
}

.profile_exit_bottom {
  background: #c7c7c7;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 7px 56px;
  margin: 10px 0;
  text-align: center;
  display: none;
}

.profile_left_btn {
  max-width: 255px;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: black;
}

/* Правый блок настроек */

.setting_input {
  margin-right: 10px;
  background: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  padding: 4px 0;
  outline: none;
  padding-left: 9px;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  width: 100%;
}

.setting_right_wrap {
  margin-bottom: 16px;
}

.setting_select select {
  background-image: url(../img/Kat/profile/arrow.svg);
  appearance: none;
  background-repeat: no-repeat;
  background-position: 94%;
  padding-right: 107px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  outline: none;
}

.setting_disabled {
  display: flex;
  margin-bottom: 7px;
}

.profile_disabled {
  font-size: 14px;
  font-family: "Montserrat-SemiBold";
  padding-right: 10px;
}

.disabled_text {
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: #868686;
}

.question_img {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.question_img:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  background: url(../img/Kat/icon.png);
  background-size: 70%;
  background-color: white;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  padding: 12px 10px;
  border-radius: 25px;
  border: none;
  width: 175px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.question_img_post:hover::after {
  width: 177px;
}

.setting_textarea {
  background: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 12px 21px;
  resize: none;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  width: 320px;
  height: 210px;
}

.setting_btn_wrap {
  background: #ef6705;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 7px 18px;
  text-align: center;
  max-width: 225px;
  margin: auto;
}

.setting_btn {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  cursor: pointer;
}



/* Модальное окно обратной связи */

.modal_wrap_feedback {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modal_title {
  margin-bottom: 2%;
  margin-left: 6%;
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
}

.modal_textarea {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 14px;
  font-family: "Montserrat-Medium";
  padding: 20px;
  resize: none;
  width: 660px;
  height: 190px;
}

.incorrect {
  background: red;
}

.modal_textarea:focus-visible {
  outline: none;
}

.modal_exit {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  padding: 0 40px;
  align-items: center;
}

.modal_text {
  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.modal_btn {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  border: none;
  padding: 7px 22px;
  cursor: pointer;
  outline: none;
}

/* Второе окно обратной связи */

.modal_feedback {
  padding: 50px;
  text-align: center;
  line-height: 40px;
  max-width: 620px;
}

.modal_text_feedback {
  font-size: 32px;
  font-family: "Montserrat-SemiBold";
}

/* Мои мероприятия */
/* Слайдер */

.slider_section {
  background: #ef6705;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.slider_wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px 40px 40px;
}

.slider_data {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  color: white;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 0 45px;
}

.slick-list:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
}

.slider_dots {
  position: absolute;
  bottom: -35px;
  z-index: 1;
}

.slider_text_events {
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat-SemiBold";
  text-align: center;
}

.slider_box {
  max-width: 890px;
  margin: auto;
  position: relative;
  margin-top: 40px;
}

/* .slick-track {
  display: flex;
  align-items: center;
} */

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_prev_events {
  background-image: url(../img/Kat/profile/prev.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 43px;
  transform: translate(0%, -50%);
  top: 26%;
  position: absolute;
  left: -38px;
  z-index: 1;
  cursor: pointer;
}

.slider_next_events {
  background-image: url(../img/Kat/profile/next.png);
  background-repeat: no-repeat;
  width: 43px;
  height: 43px;
  transform: translate(0%, -50%);
  top: 26%;
  position: absolute;
  z-index: 1;
  right: -25px;
  cursor: pointer;
}

.slider_img {
  width: 95%;
  border-radius: 10px;
}

.slider_subtitle {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat-SemiBold";
  color: white;
}

.slider_link {
  min-height: 186px;
  max-height: 186px;
  overflow: hidden;
}

/* История */

.history {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px 40px;
}

.history_events {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 5px 0.5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 310px;
  padding: 20px 10px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.history_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e66730;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.history_subtitle {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
}

.history_img {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.history_events_wrap {
  width: 45%;
  display: block;
}

/* Мой вариант селекта */

.history_select {
  background-image: url(../img/Kat/profile/arrow.svg);
  appearance: none;
  background-repeat: no-repeat;
  background-position: 94%;
  padding-right: 37px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.history_option:hover {
  color: #ef6705;
}

.history_select:focus-visible {
  outline: none;
}

/* Мой отряд */
/* Отряд */

.troop_wrap {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px;
}

.troop_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ef6705;
  padding: 0px 15px;
  margin-bottom: 25px;
}

.troop_top_left {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.troop_top_right {
  display: flex;
  align-items: center;
}

.profile_social_link {
  padding-right: 16px;
}

.troop_top_img_icon {
  width: 50px;
  height: 50px;
}

.troop_name {
  font-size: 20px;
  font-family: "Montserrat-Bold";
  padding-bottom: 8px;
}

.troop_text {
  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.troop_description {
  display: flex;
  padding: 0 15px;
}

.troop_img_top {
  margin: auto;
  width: 47%;
  padding-bottom: 10px;
  display: none;
}

.troop_img {
  width: 100%;
}

.troop_box {
  margin-bottom: 25px;
}

.squad_box {
  padding: 0 15px;
}

.troop_fighters {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  margin-top: 20px;
}

.troop_btn {
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: "Montserrat-Regular";
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: none;
  cursor: pointer;
}

.btn_wrap {
  display: flex;
  justify-content: flex-end;
}

.troop_fighters_amount {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 5px 0.5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 490px;
  padding: 20px;
  margin-bottom: 40px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(239, 103, 5, 0.7);
}

.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 50px;
}

.scroll::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 50px;
}

.squad_fighter_wrap {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 10px;
}

/* Профиль */
/* Навигация */

.section_box {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 7px 0;
}

.navigation {
  max-width: 420px;
  margin: 0 auto;
}

.navigation_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation_link {
  font-family: "Montserrat-Regular";
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

/* Профиль */

.profile {
  display: flex;
  justify-content: space-between;
}

.profile_left {
    max-width: 255px;
}

.profile_left_img {
  width: 100%;
  max-height:400px;
  border-radius: 50px;
}

.profile_left_points {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  max-width: 255px;
  justify-content: space-around;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  margin-top: 10px;
}

.profile_left_payment {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  max-width: 255px;
  justify-content: space-around;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  line-height: 24px;
  padding: 10px 0;
  margin: 10px 0;
}

.profile_left_payment_status {
  color: #7db425;
}

.profile_left_question {
  color: #ef6705;
  display: flex;
  justify-content: center;
  font-family: "Montserrat-Medium";
  font-size: 14px;
}

.profile_right {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 40px;
  max-width: 350px;
}

.profile_right_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e66730;
  margin-bottom: 20px;
  padding-bottom: 6px;
  align-items: center;
}

.profile_right_info {
  display: flex;
  justify-content: space-between;
}

.profile_right_box {
  padding-right: 5px;
}

.profile_right_wrap {
  margin-bottom: 15px;
}

.profile_subtitle {
  margin-bottom: 7px;
  font-size: 14px;
  font-family: "Montserrat-SemiBold";
}

.lk_text {
  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.profile_name {
  font-family: "Montserrat-Medium";
  font-size: 16px;
}

/* Мероприятия */

.events {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px;
}

.events_title {
  font-size: 16px;
  font-family: "Montserrat-Medium";
  padding-left: 20px;
  border-bottom: 1px solid #e66730;
  padding-bottom: 6px;
  margin-bottom: 20px;
}

.events_wrapper_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.events_wrap_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.events_img {
  width: 45%;
  border-radius: 20px;
}

.evets_link {
  font-size: 14px;
  font-family: "Montserrat-Medium";
  color: #ef6705;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

/* Отряд */

.squad {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px;
}

.squad_title {
  padding-bottom: 6px;
  border-bottom: 1px solid #e66730;
  padding-left: 15px;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  margin-bottom: 10px;
}

.squad_wrap {
  padding: 0 15px;
  margin-bottom: 10px;
}

.squad_name {
  font-size: 16px;
  font-family: "Montserrat-Bold";
  margin-bottom: 15px;
}

.squad_subtitle {
  font-size: 14px;
  font-family: "Montserrat-SemiBold";
  margin-bottom: 8px;
}

.squad_commander_wrap {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.squad_commander_box {
  display: flex;
  align-items: center;
}

.detachment_profile_image {
    width: 30px;
    height: 30px;
    border-radius: 14px;
}

.squad_profile_name {
  padding-left: 10px;
  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.squad_post_wrap {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.squad_post_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 5px 10px;
}

.squad_post_box_bottom {
  display: flex;
  align-items: center;
}

.squad_post_bottom {
  width: 49%;
}

.squad_post_img {
  opacity: 0.6;
  padding-right: 10px;
  padding-left: 5px;
}

/*Стили при наведении*/

/* Навигация */

.navigation_link:hover {
  color: #ef6705;
}

.navigation_link_now{
    color: #ef6705;
}

/* Профиль */

.profile_social_link > img:hover {
  filter: hue-rotate(135deg);
}

/* Отряд */

.squad_post_img:hover {
  opacity: 1;
  cursor: pointer;
}

.troop_btn:hover {
  color: #ef6705;
  border-bottom: 1px solid #ef6705;
}

/* Сохранить изменения */

.setting_btn:hover {
  font-family: "Montserrat-SemiBold";
}

.profile_left_btn:hover {
  color: whitesmoke;
  font-family: "Montserrat-SemiBold";
}



/* ------------------------------------------АДАПТИВ---------------------------------------*/

/* ЛИЧНЫЙ КАБИНЕТ */
@media (max-width: 768px) {
  .section_wrap {
    padding: 0 10px 40px 10px;
  }
  /* Навигация */
  .section_box {
    display: none;
  }

  .main {
    padding-top: 0px;
  }

  /* Профиль */
  /* Блок 1 */
  .profile_right {
    padding: 40px 30px;
    max-width: 300px;
  }

  /* Мои мероприятия */
  /* Блок 1 */
  .slider_link {
    min-height: 150px;
  }

  .slider_text_events,
  .slider_data {
    font-size: 18px;
  }

  .slider_prev_events {
    background-size: 130%;
    top: 20%;
  }

  .slider_next_events {
    width: 33px;
    background-size: 100%;
    top: 20%;
  }

  /* Настройки */
  /* Блок 1 */

  .setting_textarea {
    width: 270px;
    height: 160px;
  }
}

@media (max-width: 660px) {
  /* Профиль */
  /* Блок 1 */

  .profile {
    justify-content: space-around;
  }

  .profile_left {
    max-width: 220px;
  }

  .profile_left_question {
    text-align: center;
  }

  .profile_right {
    padding: 30px 25px;
    max-width: 250px;
  }

  .profile_right_info {
    flex-direction: column;
  }

  /* Блок 2 */

  .events_img {
    border-radius: 30px;
  }

  /* Мои мероприятия */
  /* Блок 1 */

  .slider_link {
    min-height: 110px;
  }

  /* Настройки */
  /* Блок 1 */

  .setting_textarea {
    width: 220px;
    height: 110px;
    border-radius: 40px;
  }
}

@media (max-width: 560px) {
  /* Профиль */
  /* Блок 1 */

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile_left {
    max-width: 250px;
    padding-bottom: 20px;
  }

  .profile_right {
    padding: 30px 25px;
    max-width: 330px;
  }

  .profile_right_info {
    justify-content: space-between;
    flex-direction: inherit;
  }
  /* Блок 2 */

  .events_wrapper_img {
    flex-direction: column;
    margin-bottom: 0;
  }

  .events_wrap_img {
    width: 85%;
    padding-bottom: 10px;
  }
  /* Блок 3 */

  .squad_post_wrap {
    flex-direction: column;
  }

  .squad_post_bottom {
    width: 100%;
    padding-bottom: 10px;
  }

  /* Мой отряд */
  /* Блок 1 */

  .troop_img_right {
    display: none;
  }

  .troop_img_top {
    display: block;
  }

  /* Мои мероприятия */
  /* Блок 1 */
  .slider_link {
    min-height: 90px;
  }

  .slider_text_events,
  .slider_data {
    font-size: 16px;
  }

  .slick-list {
    padding: 0 0 35px;
  }

  .slider_dots {
    bottom: -26px;
  }

  .slider_subtitle {
    font-size: 20px;
  }

  /* Настройки */
  /* Блок 1 */

  .profile_left_exit {
    display: none;
  }

  .profile_exit_bottom {
    display: block;
  }
}

@media (max-width: 460px) {
  /* Профиль */
  /* Блок 1 */

  .profile_right_info {
    flex-direction: column;
  }

  /* Мои мероприятия */
  /* Блок 1 */

  .slider_link {
    min-height: 65px;
    display: flex;
    justify-content: center;
  }

  .slider_img {
    width: 65%;
  }

  .slider_text_events,
  .slider_data {
    font-size: 14px;
  }

  .history_events {
    padding: 20px 10px 20px 10px;
    flex-wrap: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .history_events_wrap {
    width: 90%;
  }

  .history {
    padding: 20px 20px;
  }

  .history_top {
    padding-bottom: 15px;
  }
}

/* Модальные окна */

@media (max-width: 865px) {

  /* Модалка обратной связи */
  .modal_wrapper {
    max-width: 380px;
  }

  .modal_textarea {
    width: 300px;
    height: 360px;
  }

  .modal_exit {
    padding: 0 20px;
    flex-direction: column;
  }

  .modal_text {
    margin-bottom: 10px;
  }

  .modal_exit_text {
    text-align: center;
    margin-bottom: 10px;
  }

  .modal_feedback {
    padding: 30px;
  }

  .modal_text_feedback {
    font-size: 26px;
    max-width: 295px;
  }
}

@media (max-width: 515px) {

  /* Модалка обратной связи */
  .modal_wrapper {
    max-width: 295px;
  }

  .modal_textarea {
    width: 220px;
    height: 300px;
  }

  .modal_feedback {
    padding: 30px 10px;
  }

  .modal_text_feedback {
    font-size: 20px;
    max-width: 225px;
  }
}

